# Python env and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
.env
.env.local
*.log

# Machine Learning
catboost_info/

# Frontend (Node & Build)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# IDE and Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
*.db
